<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>おめでとう！</title>
</head>
<body>
    <hgroup>
        <h1>おめでとう！</h1>
        <h2>あらら、エラーが発生するおめでとう！</h2>
    </hgroup>
</body>
</html>
